{% extends 'base.html' %}

{% block content %}

<div class="col-sm-12">
    <div class="text-center">
        <h1 class="text-success"> CENSEUR </h1>
    </div>
    <br><br>
    {% include 'message.html' %}
    <div class="row">
        <div class="col-md-6">
            <div class="card-body">
   
    <a href="{% url 'ajoutCenseur' %}" class="btn btn-primary">Ajouter<i class=""></i></a>
   
    </div>
    </div>
    <form action="" class="col-md-6">
        <div class="card-body row  ">
            <div class="col">
               <input type="serch" class="form-control form-control-borderless" name="serch" >
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i></button>
        </div>
        </div>
    </form>
    </div>
    <br><br>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr id="tete">
                <th>Nom</th>
                <th>Prenoms</th>
                <th>Action</th>
            </tr>
            
            {% for x in censeur %}
            <tr>
                <td>{{x.nom}}</td>
                <td>{{x.prenom}}</td>
                <td>
                    <div class="d-flex justify-content-around">
                        <a class="save btn btn-info" href="{% url 'modifcenseur' x.id %}"> <i class="fa fa-edit"></i>
                            Modifier</a>
                        
                    </div>
                </td>
            </tr>
            {% endfor %}
                
            {% for x in censeurs %}
            <tr>
                <td>{{x.nom}}</td>
                <td>{{x.prenom}}</td>
                <td>
                    <div class="d-flex justify-content-around">
                        <a class="save btn btn-info disabled" href="{% url 'modifcenseur' x.id %}"> <i class="fa fa-edit"></i>
                            Modifier</a>
                        
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="row mt-3">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if censeurs.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ censeurs.previous_page_number }}">Precedent</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ censeurs.number }}">{{ censeurs.number }}</a>
                </li>

                {% if chefs.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ censeurs.next_page_number }}">Suivant</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>

</div>
{% endblock %}