{% extends 'base.html' %}

{% block content %}
{% include 'message.html' %}
<div class="col-sm-12">
    <div class="text-center">
        <h1 class="text-success"> LISTE TYPE FORMATION</h1>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <div class="card-body">
                <a href="{% url 'ajoutTF' %}" class="btn btn-primary">Ajouter nouveau <i class="fa fa-plus"></i></a>
            </div>
        </div>
        <form action="" class="col-md-6">
            <div class="card-body row  ">
                <div class="col">
                    <input type="serch" class="form-control form-control-borderless" name="serch">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <br><br>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr id="tete">
                <th>Code Type Formation</th>
                <th>Type Formation</th>
                <th>Actions</th>
            </tr>
            {% for x in formations %}
            <tr>
                <td>{{x.codeTF}}</td>
                <td>{{x.type_formation}}</td>
                <td>
                    <div class="d-flex justify-content-around">

                        <a class="save btn btn-info" href="{% url 'modiftypef' x.codeTF %}"> <i class="fa fa-edit"></i>
                            Modifier</a>

                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="row mt-3">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if formations.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ formations.previous_page_number }}">Precedent</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ formations.number }}">{{ formations.number }}</a>
                </li>

                {% if formations.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ formations.next_page_number }}">Suivant</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>

</div>
{% endblock %}