{% extends 'base.html' %}


{% block content %}
<br><br>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
   
        <br><br>
       
        <div class="text-center">
            <h1 class="text-danger">ASSIDUITE DES APPRENANTS</h1>
        </div>
        <br><br>
        <form action="{% url 'abs' %}">
            <label for="">Annee Scolaire :</label>
            <input type="hidden" value="{{annee}}" class="form-control" name="annee">
            <input type="text" value="{{annee}}" class="form-control" disabled>
            <label for="">Periode :</label>
        <select id="" class="form-control" name="periode">
            <option >---------------------------</option>           
            {% for i in periode %}
               <option value="{{i.codeP}}">{{i.periode}}</option>
            {% endfor %}               
        </select>
            <label for="">Classe :</label>
            <select name="classe" id="" class="form-control">
                <option>--------------</option>

                {% for z in classe %}
                <option value="{{z.codeC}}">{{z.classe}}</option>

                {% endfor %}
            </select>
            <br>
            <div class="text-right">
                <button class="btn btn-info" type="submit">Suivant</button>
            </div>
        </form>
       
    </div>
    <div class="col-md-3">

    </div>
</div>
{% endblock content %}