{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="text-center">
            <h1 class="text-danger">{{titre}}</h1>
        </div>
        <br>
        <form action="{% url 'fichNoty' %}">
            <label for="">Année Scolaire :</label>
            <input type="text" value="{{annee}}" class="form-control" disabled>
            <input type="hidden" value="{{annee.codeAS}}" class="form-control" name="annee">
            <label for="">Classe :</label>
            <select name="classe" class="form-control">
                <option>--------------------</option>
                {% for x in prom %}
                <option value="{{x.codeC}}">{{x.classe}}</option>
                {% endfor %}
            </select>
            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Suivant</button>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock content %}