{% extends "base.html" %}


{% block content %}

<style>
    .dashboard-stat {
    display: block;
    padding: 30px 15px;
    text-align: right;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: aliceblue;
}

.dashboard-stat .number {
    font-size: 28px;
    display: block;
}

.dashboard-stat .bg-icon {
    position: absolute;
    font-size: 80px;
    opacity: 0.4;
    left: 0;
    bottom: 0;
}
</style>
<section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat bg-primary" href="{% url 'affE' %}">
                    <span class="number counter">{{etudiants}}</span>
                    <span class="name">Apprenants</span>
                    <span class="bg-icon"><i class="fa fa-users"></i></span>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat bg-danger" href="{% url 'affM' %}">
                    <span class="number counter">{{matieres}}</span>
                    <span class="name">Matières</span>
                    <span class="bg-icon"><i class="fa fa-ticket"></i></span>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat bg-warning" href="{% url 'affPr' %}">
                    <span class="number counter">{{promotions}}</span>
                    <span class="name">Classes</span>
                    <span class="bg-icon"><i class="fa fa-bank"></i></span>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat bg-success" href="{% url 'affF' %}">
                    <span class="number counter">{{filieres}}</span>
                    <span class="name">Filières</span>
                    <span class="bg-icon"><i class="fa fa-graduation-cap"></i></span>
                </a>
            </div>
            
            <div class="col-md-12">
                {% if graphic %}
                <img src="data:image/png;base64,{{ graphic }}" class="img-fluid"/>
                {% else %}
                <p>Aucune donnée à afficher.</p>
                {% endif %}
            </div>
            <div class="col-md-12">
                {% if graphic1 %}
                <img src="data:image/png;base64,{{ graphic1 }}" class="img-fluid"/>
                {% else %}
                <p>Aucune donnée à afficher.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}