<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des apprenants en classe {{classe}}</title>
</head>
<body>
    <table>
        <tr>
            <th></th>
            <th style="font-size: 15px;">Liste des apprenants en classe  
            {% for x in cl %}
                {{x.classe}}
            {% endfor %}
                </th>
            <th></th>
        </tr>
    </table>
    <br>
    <table style="border: 1px solid black;padding: 2px;">
        <tr >
            <!-- <th>Image</th> -->
            <th>N°</th>
            <th>Matricule</th>
            <th>Nom</th>
            <th>Prenoms</th>
            <th>Position</th>
            <th>Sexe</th>
            <th>Date de naissance</th>
        </tr>
        
        {% for i in apprenants %}
            <tr>
                <!-- <td><img src="../media/{{i.image}}" alt=""></td> -->
                <td>{{i.numero}}</td>
                <td>{{i.matricule}}</td>
                <td>{{i.nom}}</td>
                <td>{{i.prenom}}</td>
                <td>{{i.position}}</td>
                <td>{{i.sexe}}</td>
                <td>{{i.date_de_naissance}}</td>
            </tr>
        {% endfor %}
            
    </table>
    <br><br>
    Arrêtée a présente liste au nombre de {{apprenants.count}} apprenants dont 

    {% if filles == 0 or filles == 1 %}
    {{filles}} fille
    {% else %}
    {{filles}} filles
    {% endif %}
       et 
       
       {% if garçons == 0  or garçons == 1 %}
       {{garçons}} garçon.
       {% else %}
       {{garçons}} garçons.
       {% endif %}
</body>
</html>